.payloadBg {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100%;
    width: 100%;
}

.payload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    top: 30px;
    bottom: 0;
    gap: 5px;
}

.payload input {
    margin-left: 5px;
    width: 45px;
    text-align: center;
    height: 8px;
    border: 1px solid #EBEBEB;
    box-shadow: unset;
}

.positive{
    background-color: #4BB543;
}

.negative{
    background-color: #FF8F8F;
}