.chartContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 30px;
    overflow: scroll;
}

.chart {
    flex: 1;
    flex-basis: 500px;
    box-sizing: border-box;
    border: 1px dashed #D1D1D1;
    margin: 2px;
}

.chart canvas {
    width: 100%;
    max-height: 300px;
}