.chartContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Three columns with minimum width */
    grid-auto-rows: auto; /* Automatically adjust row height */
    overflow: scroll;
    padding: 10px;
    gap: 20px;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 30px;
}

.chartWarning {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
}

.chart {
    height: fit-content;
    border: 1px dashed #D1D1D1;
}
