.disconnection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 2px solid #D1D1D1;
    background-color: #FFFFFF;
    position: fixed;
    height: 30px;
    bottom: 0;
    left: 0;
    right: 0;

    transition: all 1s ease-in-out;
}

.disconnection p,
h5 {
    margin-left: 5px;
}

.disconnection button {
    margin-left: auto;
    height: 30px;
    display: inline-flex;
    align-items: center;
}

.disconnection button:hover {
    border-color: #FF4500;
}

.disconnection button:active {
    background-color: #FF672E;
}

.disconnection.slide-in {
    transform: translateY(0);
}

.disconnection.slide-out {
    transform: translateY(100px);
}