.titlebar {
  height: 30px;
  background: #EBEBEB;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.titlebar-button {
  all: unset;
  z-index: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: none;
}

.titlebar-button:hover {
  background: #D1D1D1;
}

.title {
  width: 100%;
  position: fixed;
  margin: 0;
  height: 30px;
  line-height: 30px;
  font-weight: 600;
  font-size: 14px;
}